{% extends 'base.html' %}

{% block content %}
<div class="container container-form">
    <h1 class="mb-4 text-center">Preferencias del Usuario</h1>
    <form method="POST">
        {% csrf_token %}
        
        <!-- Horario de estudio -->
        <div class="form-group">
            <label><strong>¿En qué horario prefieres estudiar?</strong></label>
            <div class="row">
                <div class="col-md-4">
                    <!-- Asegúrate de que form.horario_estudio está precargado con los valores -->
                    {{ form.horario_estudio }}
                </div>
            </div>
        </div>

        <!-- Tiempo de viaje -->
        <div class="form-group">
            <label><strong>¿Cuánto te demoras en promedio en tu viaje hacia y desde la universidad?</strong></label>
            <div class="input-group">
                {{ form.tiempo_llegada_uni }}
                <div class="input-group-append">
                    <span class="input-group-text">minutos</span>
                </div>
            </div>
        </div>

        <!-- Tiempo de preparación -->
        <div class="form-group">
            <label><strong>¿Cuánto tardas en prepararte luego de despertar?</strong></label>
            <div class="input-group">
                {{ form.tiempo_preparacion }}
                <div class="input-group-append">
                    <span class="input-group-text">minutos</span>
                </div>
            </div>
        </div>

        <!-- Lugar de estudio -->
        <div class="form-group">
            <label><strong>¿Dónde te gusta estudiar?</strong></label>
            {{ form.lugar_estudio }}
        </div>

        <!-- Tiempo antes de dormir -->
        <div class="form-group">
            <label><strong>¿Cuánto tiempo antes de dormir prefieres terminar las actividades?</strong></label>
            <div class="input-group">
                {{ form.tiempo_antes_dormir }}
                <div class="input-group-append">
                    <span class="input-group-text">minutos</span>
                </div>
            </div>
        </div>

        <!-- Preferencias personalizadas -->
        <div class="form-group">
            <label><strong>Preferencias personalizadas</strong></label>
            <div id="nuevas-preferencias">
                <input type="text" class="form-control mt-2" name="nueva_preferencia_0" placeholder="Nueva preferencia">
            </div>
            <button type="button" class="btn btn-success mt-3" onclick="agregarPreferencia()">
                <i class="fas fa-plus"></i> Agregar otra preferencia
            </button>
        </div>

        <!-- Preferencias personalizadas actuales -->
        <h3 class="mt-4">Preferencias Personalizadas Actuales</h3>
        <div id="preferencias-personalizadas">
        {% for pref in preferencias_personalizadas %}
            <div class="form-group">
            <input type="text" class="form-control" value="{{ pref }}" readonly>
            <a href="{% url 'eliminar_preferencia' pref %}" class="btn btn-danger mt-2">
                <i class="fas fa-trash"></i> Eliminar
            </a>
            </div>
        {% endfor %}
        </div>

        <!-- Botón de guardar -->
        <button type="submit" class="btn btn-primary btn-block mt-4">
            <i class="fas fa-save"></i> Guardar Preferencias
        </button>
    </form>
</div>

<script>
    let numPreferencias = 1;

    function agregarPreferencia() {
        const nuevasPreferenciasDiv = document.getElementById('nuevas-preferencias');
        const nuevaPreferenciaInput = document.createElement('input');
        nuevaPreferenciaInput.setAttribute('type', 'text');
        nuevaPreferenciaInput.setAttribute('name', `nueva_preferencia_${numPreferencias}`);
        nuevaPreferenciaInput.classList.add('form-control', 'mt-2');
        nuevasPreferenciasDiv.appendChild(nuevaPreferenciaInput);
        numPreferencias++;
    }
</script>
{% endblock %}


